/* style page for Pam Fernandezes Web Design Homework - Web Visualization Dashboard (Latitude) */

.navbar {
    background-color: lightblue;
    padding: 10px;
}


div {
    background-color: gainsboro;
}
}

img {
    float: left;
  }
