/* style page for Pam Fernandezes Web Design Homework - Web Visualization Dashboard (Latitude) */

.navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
    padding: 20px;
    margin-left: 20px;
}

.vs_plot {
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
    text-align: center;
}

.plots {
    margin: 0px 15px 75px 75px;
}

div {
    background-color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
}

